@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}

html {
  background-color: #E0E0E0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}
body > header {
  padding: 5% 0;
  width: 100vw;
  background-color: #145374;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}
body > header h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.75rem;
}
body > header h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: lighter;
}
body > nav {
  width: 100%;
  height: 8vh;
  background-color: #3282b8;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}
body > nav ul {
  padding: 0px;
  list-style: none;
}
body > nav ul li {
  display: inline;
}
body > nav ul li a {
  letter-spacing: 0.5px;
  color: white;
  margin: 0 0.5rem;
}
body > nav ul li a:hover {
  color: #e6e6e6;
}
body > nav ul li.active {
  font-weight: bold;
}
body > main {
  width: 70%;
  background: white;
  padding: 2rem 4rem;
}
body > main h2 {
  color: rgba(0, 0, 0, 0.75);
}
body > main article {
  margin-bottom: 2rem;
}
body > main article h3 {
  font-size: 1.25rem;
  color: #3282b8;
  margin: 0px;
  margin-bottom: 0.75rem;
}
body > main article p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.75);
  text-align: justify;
  margin: 0px;
  line-height: 1.75rem;
}
body > main article p ~ a {
  display: inline-block;
  color: #369bad;
  font-weight: 600;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
body > main article p ~ a:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 0.25rem;
  content: "\2192";
}
body > main article p ~ a:hover:after {
  padding-left: 0.75rem;
}
body > aside {
  width: 30%;
  padding: 0rem 2rem;
  background: #eceff1;
}
body > aside section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
body > aside section img {
  border-radius: 50%;
  border: 5px solid #ffffff;
  height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body > aside section ul {
  padding-left: 0;
  list-style: none;
  padding-top:10px;
  text-align:center;
  font-weight:bold;
  font-family: "Nunito", sans-serif;
  color: #3282b8;
}
body > aside section p {
  text-align: center;
}
body > aside section ul li {
  margin-bottom: 0.75rem;
}
body > footer {
  width: 100%;
  text-align: center;
  background: #145374;
  color: white;
}
input {
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
  margin-bottom: 20px;
  border:1px solid #e8e8e8;
  border-radius: 5px;
  margin-top:10px;
}
textarea {
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
  margin-bottom: 20px;
  border:1px solid #e8e8e8;
  border-radius: 5px;
  margin-top:10px;
}
button {
	background: #3282b8;
	color: white;
	font-size: 11pt;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
body main article section p {
  margin-bottom:15px;
}
body main article section img {
  width: 100%;
  border-radius: 5px;
  margin-bottom:5px;
}
body main article section ul li {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.75);
  text-align: justify;
  margin: 0px;
  line-height: 1.75rem;
}
@media only screen and (max-width: 768px) {
  body main,
  body aside {
    width: 100%;
    padding: 2rem;
  }
  body aside {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  body aside section {
    width: 100%;
  }
}